# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
venv/
.env
.env.*
*.env

# macOS
.DS_Store

# VSCode
.vscode/

# Credentials (不要上傳 Firebase / GCP Key)
credentials/*.json

# Others
*.log
